---

import type { Project } from '@data/project';
const project: Project = Astro.props.project
---

<div class="flex py-6 flex-col">
	<div class="flex space-x-5 w-full justify-center py-5">

		{project.img &&

		<img src={project.img.toString()} alt={project.title} width="160"
			height="160" class="w-20 h-20 object-contain my-auto" />

		}
		<div class="flex flex-col ">

			<a href={project.url} target="_blank"
				class="hover:underline flex align-bottom">
				<h1 class="text-3xl font-bold py-3 w-min mr-3 whitespace-nowrap">
					{project.title}
				</h1>
				<!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
				stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 my-auto">
				<path
					d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
				</path>
			</svg> -->
			</a>

			<p class="text-sm text-base-content/70">{project.desc}</p>
		</div>

	</div>
	<div>
		<project.Content />
	</div>
</div>