---
import Page from "@layouts/page";
import elkhorn from "/pics/elkhorn.webp"
import bull from "/pics/bull.webp"
import canon from "/pics/canon.webp"
import frink from "/pics/frink.webp"
import kananaskis from "/pics/kananaskis.webp"
import mary from "/pics/mary.webp"
import snow from "/pics/snow.webp"
import tunnel from "/pics/tunnel.webp"
import wells from "/pics/wells.webp"


---

<Page title="Photography">
    <div class="flex flex-col w-full space-y-12">
        <div class="flex w-full px-3 justify-evenly">
            <img class="w-96 h-auto object-cover" src={wells} />

        </div>
        <div class="flex w-full px-3">
            <img class="h-96 w-auto object-cover" src={elkhorn} />

        </div>
        <div class="flex flex-col md:flex-row w-full px-3 justify-evenly">
            <img class="h-96 w-auto object-cover" src={mary} />
            <img class="h-96 w-auto object-cover" src={snow} />
        </div>
        <div class="flex flex-col md:flex-row w-full px-3 justify-evenly">
            <img class="h-96 w-auto object-cover" src={bull} />
            <img class="h-96 w-auto object-cover" src={frink} />
        </div>
        <div class="flex w-full px-3">
            <img class="h-96 w-auto object-cover" src={canon} />

        </div>
        <div class="flex w-full flex-col md:flex-row px-3 justify-evenly">
            <img class="h-96 w-auto object-cover" src={kananaskis} />
            <img class="h-96 w-auto object-cover" src={tunnel} />
        </div>

    </div>
</Page>